*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: #7fffd4;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;
}

header,
footer{
    background-color: white;
    padding: 1rem;
}

header img{
    height: 4rem;
}

header h1{
    padding-bottom: .27rem;
}

header button,
header select{
    padding: 1rem 2.5rem;
    border: none;
    border-radius: 1rem;
    font-size: 1.5rem;
}


div.grid{
    width: 700px;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

div.grid,
div.grid .cell{
    border: 1px solid black;
}

div.grid .cell{
    display: flex;
    align-items: center;
    justify-content: center;
}

div.grid .cell.cell-easy{
    width: calc(100% / 10);
    height: calc(100% / 10);
}


div.grid .cell.cell-medium{
    width: calc(100% / 9);
    height: calc(100% / 9);
}


div.grid .cell.cell-hard{
    width: calc(100% / 7);
    height: calc(100% / 7);
}

div.grid .cell.active{
    background-color: rgb(0, 98, 255);
}

div.grid .cell.active img{
    height: 70%;
}

div.grid.game-over .cell.bomb{
    background-color: rgb(255, 42, 0);
}

div.grid .cell.active,
div.grid.game-over .cell.bomb{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

div.grid .cell.bomb p{
    display: none;
}

div.grid.game-over .cell.bomb p{
    display: block;
}

div.grid .cell>p{
    margin: auto;
    font-size: 1.25rem;
}

h2 {
    margin-top: 2rem;
    font-size: 2.5rem;
    text-align: center;
}


.flex-centered{
    display: flex;
    align-items: center;
    justify-content: center;
}